h1 {
padding-left: 3rem;
}

body {
  font-family: Gill Sans, sans-serif;
  background: #aebfbe
}

.name {
  font-size: 55px;
}

.bio {
  font-size: 20px;
  padding-left: 3rem;
}

.section {
  background: #e0f2f1;
  border: 2px solid #2b2e33;
  border-radius: 5px
}

.content {
  display: grid;
  grid-row-gap: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 3rem;
}

.grid-item {
  width: 420px;
}

.image {
  width: 400px;
  border: 3px solid #2b2e33;
  border-radius: 5px
}

.icon {
  width: 60px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.description {
  font-size: 1.2em;
  text-align: center;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 3rem;
  }
  .grid-item {
    width: 240px;
  }
  .image {
    width: 240px;
  }
  h1 {
    text-align: center;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 935px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 3rem;
  }
  .grid-item {
    width: 300px;
  }
  .image {
    width: 300px;
  }
  h1 {
    text-align: center;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 936px) and (max-width: 1400px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 3rem;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1800px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 3rem;
  }
}
